body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #434455;
    background-color: #FFFFFF;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
}

h2 {
    font-size: 36px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight:700;
    line-height:1.17;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-separation{
    color: #2e2f42;
}

.studio{
    font-weight: 500;
}

.contacts{
    font-style: normal;
}

.link{
    
}

.contacts:hover,
.contacts:focus {
    color: #404BBF;
}

.mail:hover,
.mail:focus {
    color: #404BBF;
}

.order{
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    cursor: pointer;
}

.order:hover,
.order:focus{
    background-color:#404BBF;
}



